node_modules/
package-lock.json
**/.env.local
.agents/

trekan_nextjs/public/assets/fb/farol_img_1783388972140_72.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972139_71.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972139_70.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972138_69.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972137_68.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972136_67.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972134_66.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972134_65.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972133_64.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972132_63.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972131_62.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972131_61.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972129_60.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972129_59.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972128_58.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972127_57.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972127_56.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972127_55.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972126_54.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972126_53.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972125_52.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972124_51.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972123_50.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972122_49.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972121_48.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972121_47.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972120_46.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972119_45.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972118_44.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972117_43.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972117_42.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972116_41.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972116_40.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972115_39.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972113_38.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972113_37.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972112_36.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972112_35.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972111_34.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972111_33.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972110_32.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972110_31.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972109_30.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972109_29.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972108_28.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972108_27.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972107_26.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972106_25.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972105_24.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972104_23.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972104_22.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972103_21.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972102_20.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972101_19.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972100_18.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972100_17.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972100_16.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972099_15.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972099_14.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972098_13.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972098_12.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972098_11.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972097_10.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972096_9.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972095_8.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972095_7.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972094_6.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972094_5.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972093_4.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972093_3.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972092_2.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388972088_1.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388824211_3.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388824210_2.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388824208_1.jpg
trekan_nextjs/public/assets/fb/farol_img_1783388664655_1.jpg
